#root {
  /* max-width: 1280px; */
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
}

th,
td {
  padding-left: 1rem;
  padding-right: 1rem;
}
