.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80dvh;
}

.auth-container {
  max-width: 400px;
  padding: 20px;
  background-color: #272727;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.auth-container h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.auth-container button[type="submit"] {
  padding: 10px;
  color: white;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
}

.auth-container button.login {
  background-color: #67b67e;
}

.auth-container button.register {
  background-color: #b66767;
}

.auth-container p {
  text-align: center;
  margin-top: 20px;
}

.auth-container p button {
  color: #2433fd;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
}
